{{> layout/header}}

<body>

<div class="container">
    <h1 class="pt-md-5 pb-md-5">Trainers</h1>

    <div class="card-deck">
        {{#trainers}}
        <div class="col-md-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{name}}</h4>
                </div>
            </div>
            <div class="card-body">
                {{#team}}
                <div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{sprites.front_default}}" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="{{sprites.back_default}}" class="d-block w-100">
                        </div>
                    </div>
                </div>
                <span class="badge badge-primary">Speed : {{stats.speed}}</span>
                <span class="badge badge-primary">Attack : {{stats.attack}}</span>
                <span class="badge badge-primary">Defense : {{stats.defense}}</span>
                <span class="badge badge-primary">HP : {{stats.hp}}</span>
                {{#types}}
                <span class="badge badge-primary">{{.}}</span>
                {{/types}}
                {{/team}}
            </div>
        </div>
    </div>
    {{/trainers}}
</div>

</body>
</html>